jdbc.default.driverClassName=org.postgresql.Driver
jdbc.default.password={{ db_password }}
jdbc.default.url=jdbc:postgresql://localhost:5432/{{ postgres_database }}
jdbc.default.username={{ db_user }}